*{
  margin:0px;
  padding:0px;
 
}
 
.Map{
  background: linear-gradient(-45deg,rgb(5, 5, 91),rgb(84, 144, 201),rgb(199, 191, 191) );

	
}


.App {
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top:10%;

}

input button{
  gap:50px;
}

.cardio{
  width:700px;
  height:400px;
  border:2px solid black;
  margin:10px;
  padding-top:5%;
  padding-bottom:0%;
 
}

.navbar{
  color:blue;
  background-color: grey;
  text-align: center;
  padding:50px;
  box-shadow: 8px 8px 8px grey;
}

#e1{
  width:70%;
  height:auto;
}

#e2{
  padding-left:0%;
  padding-right:0%;
  margin-top:10%;
  height:70%;
  width:80%;
}

#e3{
  width:300px;
  height:200px;
}

li a{
  text-decoration: none;
  font-size: larger;
}

